{% extends "layout.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/layout.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  
    <h1>Upload Task</h1>
    <br>

      <!-- <form action="{% url 'create_task' %}" method="post" enctype="multipart/form-data" class="grid-form">
          {% csrf_token %}
          <label for="video">Video</label>
          <input type="file" id="video" name="video" accept="video/*" required>
          
          <label for="intersection">Intersection</label>
          <select id="intersection" name="intersection">
            {% for intersection in intersections %}
            <option value="{{ intersection.id }}">{{ intersection }}</option>
            {% endfor %}
          </select>
          <a href="{% url 'view_create_intersection' %}" style="font-size: 15px; background-color: transparent;"><i class="fa fa-plus-circle" title="Create Intersection" ></i></a>
          
          <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
          
        </form> -->
    

     <form action="{% url 'create_task' %}" method="post" enctype="multipart/form-data" class="grid-form">
      {% csrf_token %}

      <!-- <label for="task_name">Task Name</label>
      <input type="text" id="task_name" name="task_name" value="{{task.task_name}}"/> -->

      <label for="video">Video</label>
      <input type="file" id="video" name="video" accept="video/*" required>
      
      <label for="intersection">Intersection</label>
      <div style="display: flex; align-items: center;">
          <select id="intersection" name="intersection" required>
              {% for intersection in intersections %}
              <option value="{{ intersection.id }}">{{ intersection }}</option>
              {% endfor %}
          </select>
          <a href="{% url 'view_create_intersection' %}" style="font-size: 15px; background-color: transparent; padding-left: 0px;">
              <i class="fa fa-plus-circle" title="Create Intersection"></i>
          </a>
      </div>
      
      <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
  </form>
  

</div>

{% endblock content %}