<!-- templates/home.html -->
{% load socialaccount %}

<h1>Django Allauth Tutorial</h1>
{% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    <a href="{% url 'account_logout' %}">Sign out</a>
{% else %}
    <a href="{% url 'account_login' %}">Sign in</a>
    <a href="{% url 'account_signup' %}">Sign up</a>

    <p>Sign up with Social Account</p>
    <ul>
        <li><a href="{% provider_login_url 'github' %}">Sign Up with GitHub</a></li>
        <li><a href="{% provider_login_url 'google' %}">Sign Up with Google</a></li>
    </ul>
    
    

{% endif %}
