#video-wrapper, video {
    position: relative;
    width: 500px;
    height: 300px;
    object-fit: fill;
}

#video-wrapper video, #video-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensures video is under the canvas */
}

#video-wrapper canvas {
    /* border: 1px solid #000000; */
    z-index: 2; /* Ensures canvas is above the video */
}

/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "video video"
        "display display";
        /* "display1 display2" */
    gap: 10px;
    padding: 0;
}

.site-video {
    grid-area: video;
    margin: auto;
}

.site-set-loop {
    grid-area: display;
    margin: auto;
}

.site-status {
    grid-area: display1;
}

/* Button */
.video-button {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 0.25rem;
}

input.button.bttm-right {
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    font-size: 14px;
}

input.button.bttm-right:hover {
    background-color: rgb(2, 158, 95);
}
