{% extends "layout.html" %}
{% load static %}
{% load socialaccount %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'style/layout.css' %}"> 
    <link rel="stylesheet" href="{% static 'style/table_and_block.css' %}">
{% endblock %}

{% block content %}
<div class="content-block-home">
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }} !!!</h2>
        <label>Show my tasks</label>
        <input type="checkbox" id="toggle-switch">
        <table id="tasks-table">
    <tr>
        <th>Result name</th>
        <th>Intersection</th>
        <th>Owner</th>
        <th>Details</th>
        <th>Delete</th>
    </tr>
    {% if results %}
        {% for result in results %}
            <tr class="{% if user == result.owner %}my-task{% endif %}">
                <td>{{ result }}</td>
                <td>{{ result.intersection }}</td>
                <td>{{ result.owner }}</td>
                <td><a href="{% url 'view_result' result.id %}">Details</a></td>
                <td><a href="{% url 'delete_result' result.id %}" class="delete">Delete</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No result found.</td>
        </tr>
    {% endif %}
</table>

    {% else %}
        <p>Welcome to my channel!</p>
    {% endif %}
</div>

<script src="{% static 'js/filter.js' %}"></script>

{% endblock %}

