{% extends "layout.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/layout.css' %}">
<link rel="stylesheet" href="{% static 'style/table_and_block.css' %}">
{% endblock %}
{% block content %}
<div class="content-block">
    <h1>My Queue</h1>
    <table>
        <tr>
            <th>Task ID</th>
            <th>Owner</th>
            <th>Intersection</th>
            <th>Create Date</th>
            <th>Status</th>
            <th>Edit Task</th>
            <th>Delete</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.owner }}</td>
            <td>{{ task.intersection }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a class=" 
                    {% if task.status == "Created" %}
                        status-created
                    {% elif task.status == "Pending" %}
                        status-pending
                    {% elif task.status == "In process" %}
                        status-in-progress
                    {% elif task.status == "Completed" %}
                        status-completed
                    {% elif task.status == "Failed" %}
                        status-failed
                    {% endif %}
                ">
                    {{ task.status }}
            </a>       
            </td>
            <td><a href="{% url 'view_edit_task' task.id %}">Edit</a></td>
            <td><a href="{% url 'delete_task' task.id %}" class="delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}