#map {
    height: 400px; /* or any other height */
}

#content table td input {
    display: inline-block;
    background-color: #289dd2; /* Button Background */
    color: #f2f1ec; /* Off-white Button Text */
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    font-size: 17px;
    width: 110px;
    height: 39px;
}