body {
    background-color: #f2f1ec;
    color: #365b6d;
}

        #navbar ul {
            list-style-type: none;
            padding: 0;
        }

        #navbar ul li {
            display: inline;
            margin-right: 20px;
        }

        #navbar ul li a {
            color: #f2f1ec;
            background-color: #004a98;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
        }

        #navbar ul li a:hover {
            background-color: #2b70e4;
        }

        #content {
            background-color: #289dd2;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
            color: #f2f1ec;
        }