#content table {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    border-spacing: 5px;
}

#content table tr th {
    background-color: rgb(59, 59, 169);
    height: 50px;
}

#content table tr td {
    background-color: white;
    color: rgb(59, 59, 169);
    border-radius: 7px;
}

#content .delete:hover {
    background-color: rgb(235, 115, 115);
}