{% extends "layout.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/layout.css' %}">
<link rel="stylesheet" href="{% static 'style/table_and_block.css' %}">
{% endblock %}
{% block content %}
<div class="content-block">
    <h1>My Queue</h1>
    <table>
        <tr>
            <th>Task ID</th>
            <th>Owner</th>
            <th>Intersection</th>
            <th>Create at</th>
            <th>Status</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.owner }}</td>
            <td>{{ task.intersection }}</td>
            <td>{{ task.created_at }}</td>
            <td>{{ task.status }}</td>
            <td><a href="{% url 'view_edit_task' task.id %}">Details</a></td>
            <td><a href="{% url 'delete_task' task.id %}" class="delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}