{% extends "layout.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/layout.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="content-block">
        <h1>My Profile</h1>
        <div class="grid-form">
            <label for="name">Name</label>
            <p class="form-control" id="name">{{ profile.first_name|default:"None" }} {{ profile.last_name|default:"None" }}</p>
            
            <label for="occupation">Occupation</label>
            <p class="form-control" id="occupation">{{ profile.occupation|default:"None" }}</p>
        
            <label for="phone_number">Phone Number</label>
            <p class="form-control" id="phone_number">{{ profile.phone_number|default:"None" }}</p>
            
            <label for="bio">Bio</label>
            <p class="form-control" id="bio">{{ profile.bio|default:"None" }}</p>
            
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
        

</div>


{% endblock content %}