{% extends "layout.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/layout.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="content-block">
    <h1>Upload Task</h1>
    <br>

      <form action="{% url 'create_task' %}" method="post" enctype="multipart/form-data" class="grid-form">
          {% csrf_token %}
          <label for="video">Video</label>
          <input type="file" id="video" name="video" accept="video/*" required>
          
          <label for="intersection">Intersection</label>
          <select id="intersection" name="intersection">
            {% for intersection in intersections %}
            <option value="{{ intersection.id }}">{{ intersection }}</option>
            {% endfor %}
          </select>
        
          <a href="{% url 'view_create_intersection' %}" class="btn btn-primary">Create new intersection</a>
          
          <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
          
        </form>
    </div>

</div>

{% endblock content %}