{% extends "layout.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/layout.css' %}">
{% endblock %}
{% block content %}
<h1>Edit Task</h1>

<!-- Display the image to be labeled
<img id="imageToLabel" src="{% static 'images/mountain.jpeg' %}" alt="Image to label"> -->
<div class="border-text1 pg-left1-2">
    <div id="video-wrapper" >
        <h3>Preview</h3>
        <video id="video" controls autoplay>
            {% static 'images/mountain.jpeg' %}
            <source src='{% static "video/test1.mp4" %}' type="video/mp4">
            Your browser does not support the video tag.          
        </video>
    </div>
</div>


<form enctype="multipart/form-data" action="{% url 'add_loop' task.id %}" method="POST">
    {% csrf_token %}
    <div class="form-controls form-controls1-2 pg1-2">
        <label for="loop_name">Loop Name</label>
        <input type="text" id="loop_name" name="loop_name" value="{{loop.loop_name}}"/>
        <br>

        <div class="col-left">
            <label for="x1">x1</label>
            <input type="number" id="x1" name="x1" value="{{loop.x1}}" required/>
        </div>
        <div class="col-right">
            <label for="y1">y1</label>
            <input type="number" id="y1" name="y1" value="{{loop.y1}}" required/>
        </div>
        <br>

        <div class="col-left">
            <label for="x2">x2</label>
            <input type="number" id="x2" name="x2" value="{{loop.x2}}" required/>
        </div>
        <div class="col-right">
            <label for="y2">y2</label>
            <input type="number" id="y2" name="y2" value="{{loop.y2}}" required/>
        </div>
        <br>

        <div class="col-left">
            <label for="x3">x3</label>
            <input type="number" id="x3" name="x3" value="{{loop.x3}}" required/>
        </div>
        <div class="col-right">
            <label for="y3">y3</label>
            <input type="number" id="y3" name="y3" value="{{loop.y3}}" required/>
        </div>
        <br>

        <div class="col-left">
            <label for="x4">x4</label>
            <input type="number" id="x4" name="x4" value="{{loop.x4}}" required/>
        </div>
        <div class="col-right">
            <label for="y4">y4</label>
            <input type="number" id="y4" name="y4" value="{{loop.y4}}" required/>
        </div>
        <br>
        
        <p>Orientation</p>
        <div class="col-left">
            <label for="clockwise">Clockwise</label>
            <input type="radio" id="clockwise" name="orientation" value="clockwise" required/>
        </div>
        <div class="col-right">
            <label for="counterclockwise">Counterclockwise</label>
            <input type="radio" id="counterclockwise" name="orientation" value="counterclockwise" required/>
        </div>
        <br>

        <div class="col-left">
            <label for="summary_location_x">Summary Location x</label>
            <input type="number" id="summary_location_x" name="summary_location_x" value="{{loop.summary_location_x}}" required/>
        </div>
        <div class="col-right">
            <label for="summary_location_y">Summary Location y</label>
            <input type="number" id="summary_location_y" name="summary_location_y" value="{{loop.summary_location_y}}" required/>
        </div>
        <br>
    </div>
</form>
<script src="{% static 'js/label.js' %}"></script> 

{% endblock content %}