<!DOCTYPE html>
<html>
<head>
    <title>Task Status Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h1>Task Queue Status</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Owner</th>
                <th>Create at</th>
                <th>Status</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr style="text-align: center;">
                <td>{{ task }}</td>
                <td>{{ task.owner }}</td>
                <td>{{ task.created_at }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
