{% extends "layout.html" %}
{% load static %}
{% load socialaccount %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'style/layout.css' %}"> 
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>
        <a href="{% url 'account_logout' %}">Sign out</a>
        <a href="{% url 'profile' %}">My Profile</a>
        <a href="{% url 'my_queue' %}">My Queue</a>
    {% else %}
        <p>Welcome to my channel!</p>
    {% endif %}
{% endblock %}
