{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static 'style/layout.css' %}">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="margin:0;">
    <nav id="navbar" class="navbar">
        {% if not user.is_authenticated %}
                <ul class="nav-index">
                    <li><a href="{% url 'account_login' %} ">Sign in</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                </ul> 
        {% else %}
            <a class="logo" href="{% url 'home' %}">Logo</a>
            <div class="navbar-right">
                <!-- <a href="{% url 'home' %}">Home</a> -->
                <a class="nav01" href="{% url 'my_queue' %}">My Queue</a>
                <a class="nav01" href="{% url 'create_intersection' %}">Intersection List</a>
                <a class="nav01" href="{% url 'create_task' %}">Create Task</a>
                <a class="nav01" href="{% url 'profile' %}">Profile</a>
                <a class="nav01" href="{% url 'account_logout' %}">Sign out</a>
            </div>
        {% endif %}
</nav>


    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
