{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwT" crossorigin="anonymous">
    {% block css %}{% endblock %}
</head>

<body style="margin:0;">
    <nav id="navbar" class="navbar">
        {% if not user.is_authenticated %}
                <ul class="nav-index">
                    <li><a href="{% url 'account_login' %} ">Sign in</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                </ul> 
        {% else %}
            <a class="logo" href="{% url 'home' %}">Logo</a>
            <div class="navbar-right">
                <!-- <a href="{% url 'home' %}">Home</a> -->
                <a class="nav01" href="{% url 'my_queue' %}">My Queue</a>
                <a class="nav01" href="{% url 'create_intersection' %}">Intersection List</a>
                <a class="nav01" href="{% url 'create_task' %}">Create Task</a>
                <a class="nav01" href="{% url 'profile' %}">Profile</a>
                <a class="nav01" href="{% url 'account_logout' %}">Sign out</a>
            </div>
        {% endif %}
</nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>