{% extends "layout.html" %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'style/layout.css' %}"> {% endblock %}

{% block navbar %}
    <div class="container">
      <ul class="nav-index">
        <li><a href="{% url 'account_login' %} ">Sign in</a></li>
        <li><a href="{% url 'account_signup' %}">Sign up</a></li>
      </ul>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Set New Password</h2>
    <form method="post" action="{% url 'account_reset_password_from_key' uidb36=uidb36 token=token %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Set Password</button>
    </form>
</div>
{% endblock %}
