{% extends "layout.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/layout.css' %}">


{% endblock %}
{% block content %}
<div class="container">
    <div class="content">
    <h1>Edit Profile</h1>
    <form method="post" action="{% url 'edit_profile' %}" class="grid-form">
        {% csrf_token %}

        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile.first_name }}">
      
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile.last_name }}">
      
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ profile.email }}">

        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ profile.username }}" readonly>


        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ profile.phone_number }}">

        <label for="bio">Bio</label>
        <textarea class="form-control" id="bio" name="bio">{{ profile.bio }}</textarea>
        
        <button type="submit" class="btn btn-primary">Update Profile</button>

    </form>
</div>

{% endblock %}
